<header>
	LOGO
</header>

<div class="main-wrapper">

	<div class="wrapper">

		<div id="menu-wrapper">
			<p class="menu-item">Menu 1</p>
			<p class="menu-item">Menu 2</p>
			<p class="menu-item">Menu 3</p>
		</div>

		<main>
			<h1>Title</h1>
			<p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Nemo repellat autem quisquam atque placeat
				corporis
				temporibus harum sit asperiores esse! Blanditiis cumque dicta sint! Vitae mollitia nostrum sed culpa.
				Officiis!
			</p>
			<p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Perferendis maxime soluta vitae nam error
				aliquid
				voluptatum, quidem suscipit nemo facilis magni placeat pariatur adipisci veritatis earum necessitatibus
				maiores
				dicta molestiae.</p>
			<p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Excepturi cum in sint tempora voluptatum qui ab
				illum, ad nisi adipisci perspiciatis iure ipsa labore aliquam nam quas ex architecto voluptas!</p>
			<p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Cupiditate, a odit laboriosam ex dolorum
				doloremque
				quas vitae dicta ea iste consequatur officiis sequi est omnis numquam nam placeat. Error, rem.</p>
		</main>

	</div>

	<footer>
		Link | Link | Link
	</footer>

</div>